<h1>Migration</h1>

<ol>
{{#each this.storage.flights as |flight|}}
  <li class="{{if flight.weglideFlight "on-weglide"}}">
    {{flight.scoreDate}}

    – {{or flight.pilot.name flight.pilotName}}
    {{#if flight.copilot}}
      & {{flight.copilot.name}}
    {{else if flight.copilotName}}
      & {{flight.copilotName}}
    {{/if}}

    – {{or flight.takeoffAirport.name "Unknown"}}
    {{#if (not-eq flight.takeoffAirport.name flight.landingAirport.name)}}
      → {{or flight.landingAirport.name "Outlanding"}}
    {{/if}}

    – {{flight.model.name}}
    {{#if flight.competitionId}}
      ({{flight.competitionId}})
    {{else if flight.registration}}
      ({{flight.registration}})
    {{/if}}

    – {{kilometers flight.distance}}

    – <a href="https://skylines.aero/flights/{{flight.id}}">S</a>
    {{#if flight.weglideFlight}}
      – <a href="https://weglide.org/flight/{{flight.weglideFlight.id}}">W</a>
    {{else}}
      <button type="button" {{on "click" (perform this.uploadTask flight)}}>
        → W
      </button>
    {{/if}}
  </li>
{{/each}}
</ol>