<h1>WeGlide Import</h1>

<form {{on "submit" (perform this.onSubmitTask)}}>
  <label style="display: block">
    User ID:
    <input type="text" name="userId" pattern="\d+" disabled={{this.importTask.isRunning}} value={{this.storage.userId}} autocomplete="off" {{on "input" (perform this.onInputTask)}} />
  </label>
  <label style="display: block">
    Name:
    <input type="text" disabled value={{this.getUserDetailsTask.last.value.name}} />
  </label>
  <label style="display: block">
    Club:
    <input type="text" disabled value={{this.getUserDetailsTask.last.value.club.name}} />
  </label>

  <button type="submit" disabled={{this.submitDisabled}}>Import Flights</button>
  {{#if this.importTask.isRunning}}
    Loading...
  {{/if}}
</form>

{{#if this.storage.flights}}
  {{this.storage.flights.length}} flights loaded
{{/if}}
